<h1>Edit event</h1>

<%= form_with(model: @event, local: true) do |form| %>

  <%-# If there any errors in the event the user will be told and can fix them -%>
  <%-# Edit isn't saved until the errors are fixed -%>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "30x10" %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :start_time %><br>
    <%= form.time_field :start_time %>
  </p>
  <p>
    <%= form.label :end_time %><br>
    <%= form.time_field :end_time %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
<%-# Link back to the Event List -%>
<%= link_to 'Back', events_path %>