<h1>Listing events</h1>
<%-# Index page for the events -%>
<%-# Lists the various attributes of each event and then the Show, Edit, and Delete Buttons for each event -%>

<%= link_to 'New Event', new_event_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Time</th>
    <th>Date</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.time %></td>
      <td><%= event.date %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event_path(event),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Home Screen', home_screen_index_path %>