<h1>New Event</h1>

<%-# Project name: Move_Again %>
<%-# Description: Enables senior citizens to signup for events in their community %>
<%-# Filename: /events/new.html.erb %>
<%-# Description: The form for creating a new event %>
<%-# Last modified on: 11/23/19 %>
<%= form_with scope: :event, url: events_path, local: true do |form| %>

  <%-# Displays an errors with creating the form to the user and lets them fix it -%>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%-# Form outline showing the information collected in the form -%>
  <div class = "form">
    <div class = "field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    </div>

    <div class = "field">
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "30x10" %>
  </div>

      <div class = "field">
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </div>

    <div class = "field">
    <%= form.label :start_time %><br>
    <%= form.time_field :start_time, {ampm: true} %>
  </div>

    <div class = "field">
    <%= form.label :end_time %><br>
    <%= form.time_field :end_time, {ampm: true} %>
  </div>

    <div class = "field">
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <div>
    <br>
    <%= form.submit %>
    <br>
  </div>
<% end %>
</div>
<%-# Link back to the Event List -%>
<br>
<button type = "button" class = "btn btn-info btn-lg">
<%= link_to 'Back', events_path %>
</button>