<%-# Project name: Move_Again %>
<%-# Description: Enables senior citizens to signup for events in their community %>
<%-# Filename: /events/show.html.erb %>
<%-# Description: All of the event information is displayed as well as the signup form and the signups for the event %>
<%-# Last modified on: 11/23/19 %>
<%-# Displaying the various information about the Event -%>
<h1>Event Information</h1>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start_Time</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End_Time</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Date</strong>
  <%= @event.date %>
</p>

<%-# Displaying the signups for the events and the form rendered via partials -%>

<% if current_user && current_user.admin || current_user && current_user.volunteer || current_user && current_user.attendee %>
<h2>Signups</h2>
  <br>
<%= render @event.signups %>
  <br>


<h4>Signup:</h4>
<%= render 'signups/form', event: @event %>

  <% end %>



<%-# Links to the Event List and to the edit for the event showed -%>
<%= link_to 'Back', events_path %>
<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>