<%-# Project name: Move_Again %>
<%-# Description: Enables senior citizens to signup for events in their community %>
<%-# Filename: /signups/_form.html.erb %>
<%-# Description: The form for creating a new signup %>
<%-# Last modified on: 11/23/19 %>
<%-# Partial for signup form where all the inputs are entered -%>
<%= form_with(model: [ event, event.signups.build ], local: true) do |form| %>

  <div class = "form">
    <div class = "field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
    <br>
    <div class = "field">
    <%= form.label :extra %><br>
    <%= form.text_area :extra %>
  </div>
    <br>
    <div class = "field">
    <%= form.label :start_time %><br>
    <%= form.time_field :start_time %>
  </div>
    <br>
  <div class = "field">
    <%= form.label :end_time %><br>
    <%= form.time_field :end_time %>
  </div>
    <br>
    <div class = "field">
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </div>
    <br>
    <div class = "field">
      <%= form.label :user_id, "Volunteer" %><br>
      <%= form.collection_select :user_id, User.where(volunteer: true).order(:email), :id, :email %>
    </div>

    <br>
    <br>

  <div>
    <%= form.submit %>
  </div>
  <br>
  <br>
<% end %>
</div>