<%-# Project name: Move_Again %>
<%-# Description: Enables senior citizens to signup for events in their community %>
<%-# Filename: /signups/_signup.html.erb %>
<%-# Description: The display for the signups %>
<%-# Last modified on: 11/23/19 %>
<%-# Partial for displaying signup and all the information attached to it -%>
<%-# Also contains delete button  -%>
<p>
  <strong>Name:</strong>
  <%= signup.name %>
</p>

<p>
  <strong>Extra:</strong>
  <%= signup.extra %>
</p>
<p>
  <strong>Start_Time:</strong>
  <%= signup.start_time %>
</p>
<p>
  <strong>End_Time:</strong>
  <%= signup.end_time %>
</p>
<p>
  <strong>Date:</strong>
  <%= signup.date %>
</p>

<p>
  <strong>Match:</strong>
  <%= signup.user.email  %>
</p>

<p>
  <%= link_to 'Delete Signup', [signup.event, signup],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>